
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/*Estilo Header*/
 header a{
    font-family: "Inter", sans-serif;
    font-weight: 600 !important;
    color: #296BBE !important;
    font-size: 1.3rem !important;
}
.img-logo{
    width: 140px;
    height: auto;
}

/*Estilo Portada*/
.portada{
    background-image: url(../img/portada.png);
    background-position: center;
    background-size: cover;
    height: 40rem;
    color: beige;
}
.titulo{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 6rem;
    margin-left: 1rem;
}
.sub-titulo{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 1rem;
}
.boton-contacto{
    background-color: #296BBE;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: beige;
    border-radius: 40px;
    border: none;
    height: 70px;
    width: 250px;
    margin-left: 2rem;
    margin-top: 2rem;
}